<div class="container" style="margin-top: 50px;">
	<!-- canvas area -->
	<div class="row" id="gameDisplayRow">

	</div>

	<!-- console area -->
	<div class="row">
		<span>
			<button>Use Item</button>
			<button>Move</button>
		</span>
	</div>
</div>