<div class="container" style="margin-top: 50px;" style="position: relative;">
	<!-- canvas area -->
	<div class="row" id="gameDisplayRow" style="position: relative;">
	</div>

	<!-- positioning from canvas height from  -->
	<div class="row" style="margin-top:520px">
		<span>
			<button>start</button>
		</span>
	</div>

	<div class="row">
		<span id="characterDisplays"></span>
	</div>
</div>