<link rel="stylesheet" href="http://codeorigin.jquery.com/qunit/qunit-1.12.0.css">
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="http://codeorigin.jquery.com/qunit/qunit-1.12.0.js"></script>
<!-- test files -->
<script src="/testscripts/utilities/utils.js"></script>

<!-- player tests -->
<script src="/testscripts/players/player.tests.js" ></script>

<!-- game tests -->
<script src="/testscripts/game/game.tests.js" ></script>
<script src="/testscripts/game/game.takeTurn.tests.js" ></script>